[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons
[submodule "NotificationMasterAPI"]
	path = NotificationMasterAPI
	url = https://github.com/NightmareXIV/NotificationMasterAPI
